/* @import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap'); */

.caixa{
    background-image: linear-gradient(#000000, #3F51B5);
}

.titulo{
    color: white !important;
    font-weight: bold !important;
    text-align: center;
}

.botao{
    border-color: white !important;
    background-color: transparent;
    color: white !important;
}

.postagens{
    background-color: white;
}

